<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tcloudsoft.auth.provider.mapper.DeptInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tcloudsoft.auth.provider.model.DeptInfo">
        <id column="id" property="id" />
        <result column="dept_id" property="deptId" />
        <result column="dept_name" property="deptName" />
        <result column="status" property="status" />
        <result column="province" property="province" />
        <result column="city" property="city" />
        <result column="district" property="district" />
        <result column="street" property="street" />
        <result column="village" property="village" />
        <result column="origin" property="origin" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, dept_id, dept_name, status, province, city, district, street, village, origin
    </sql>

</mapper>
